<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>remoteAccessConsumerKey</key>
	<string>3MVG9CEn_O3jvv0wTqRT0Le6tm32Vrwx28OJnmqIu.bYY5xQrZbWp89GNQYA1e1QUBsYElGTaFnWYFMf7pjLY</string>
	<key>oauthRedirectURI</key>
	<string>mobilesdk://bio/auth</string>
	<key>oauthScopes</key>
	<array>
		<string>web</string>
		<string>api</string>
	</array>
	<key>shouldAuthenticate</key>
	<true/>
</dict>
</plist>
